<div id="<%= dom_id entrada %>">
  <p>
    <strong>Funcion:</strong>
    <%= entrada.funcion.pelicula.titulo %>
    <%= entrada.funcion.fecha %>

  </p>

  <p>
    <strong>Usuario:</strong>
    <%= entrada.usuario.nombre %>
  </p>

</div>
