<div id="<%= dom_id pelicula %>">
  <p>
    <strong>Titulo:</strong>
    <%= pelicula.titulo %>
  </p>


  <p>
    <strong>Descripcion:</strong>
    <%= pelicula.descripcion %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= pelicula.director %>
  </p>


</div>
